<!DOCTYPE html>
<html>
<head data-th-replace="component/componentes :: _head(~{::title})">
<meta charset="UTF-8">
<title>Inicio</title>
</head>
<body>
	<nav data-th-replace="component/componentes :: _navbar"></nav>
		<div data-th-replace="component/componentes :: _carousel"></div>
			<div class="container">
				<p class="text-center text-white fs-1 fw-bold mt-3 font-monospace">Cursos disponibles</p>
				<div class="row mb-5">
					<div data-th-each="curso : ${cursos}" class="col-12 col-md-3 my-5 d-flex justify-content-center">
						<div class="card bg-dark"  style="width: 18rem;">
							  <img data-th-src="@{/curso/image/{id}(id=${curso.id})}" class="card-img-top img-thumbnail" alt="...">
							  <div class="card-body">
							    <p class="carda-title fs-5 text-warning" data-th-text="${curso.nombre}"></p>							    
							    <p class="fs-6 text-light mb-0"><i class="bi bi-people-fill"></i> Cupos: <span class="card-text text-warning fs-6" data-th-text="${curso.cuposDisponibles}"></span></p>
							    <p class="fs-6 text-light mb-0"><i class="bi bi-calendar-check"></i> Inicio: <span class="card-text text-warning fs-6" data-th-text="${curso.fechaInicio}"></span></p>
							    <p class="fs-6 text-light mb-2"><i class="bi bi-calendar-x"></i> Termina: <span class="card-text text-warning fs-6" data-th-text="${curso.fechaTermino}"></span></p>
							    <div class="d-grid gap-2 d-md-block text-center">
							    	<a data-th-href="@{/curso/ver/{id}(id=${curso.id})}"  class="btn btn-outline-warning me-1" >Ver curso</a>
							   </div>
							  </div>
						</div>
					</div>
				</div>
				<div class="col my-5"><span>-</span></div>
			</div>
	<footer data-th-replace="component/componentes :: _footer"></footer>
	<script data-th-replace="component/componentes :: _script"></script>
</body>
</html>